# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key

# OpenRouter / AI
EXPO_PUBLIC_OPENROUTER_API_KEY_CHAT=your_openrouter_api_key
EXPO_PUBLIC_API_URL=https://openrouter.ai/api/v1/chat/completions
EXPO_PUBLIC_MODEL_NAME=arcee-ai/trinity-large-preview:free

# Weather
EXPO_PUBLIC_WEATHER_API_KEY=your_openweather_api_key

# Cloudinary
EXPO_PUBLIC_CLOUD_NAME=your_cloudinary_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
